//* @group ----- Typography ----- */

$base-font-size: 14px;
$base-line-height: 20px;

// #Variable Definitions
// ==================================================
$base-width: 960px;
$tablet-width: 768px;
$mobile-portrait-width: 300px;
$mobile-landscape-width: 420px;

$num-columns: 16;
$margin: 10px;
//* @end */


$border_gray: rgb(225, 225, 225);