.items.show {

  #title-row {
    margin-bottom: rhythm(0.5);

    .title {
      h2 {
        display: inline;
        font-size: 1.5em;
        font-weight: lighter;
        padding: rhythm(0) 0px;
        margin-bottom: rhythm(0);
      }
      .collection {
        // margin-left: rhythm(0.5);
        font-size: 0.9em;
        h3 {
          text-transform: lowercase;
          margin-right: 0;
          &:after {
            vertical-align: -3px;
            margin-right: 0;
          }
        }
      }
    }
  }



  // default two-column layout
  #item-metadata {
    @include columns(7);
    @include offset(0.25);
    margin-bottom: rhythm(1);
  }
  #item-media {
    @include columns(9);
    margin-bottom: rhythm(1);
    #seadragon-wrapper{
      height: skeleton-column-width(9, $base-width);
      @media only screen and (min-width: 768px) and (max-width: 959px) {
        height: skeleton-column-width(9, $tablet-width);
      }
    }
  }

  // &.audios, &.videos  {
  //   #item-metadata { @include columns(10); }
  //   #item-media {
  //     @include columns(6);
  //     #seadragon-wrapper{
  //       height: skeleton-column-width(6, $base-width);
  //       @media only screen and (min-width: 768px) and (max-width: 959px) {
  //         height: skeleton-column-width(6, $tablet-width);
  //       }
  //     }
  //   }
  // }


  // image gallery
  #item-media #seadragon-wrapper{
    margin-bottom: rhythm(0.5);
    #seadragon-viewer {
      width: 100%;
      height: 100%;
      @include box-shadow(#eee 1px 1px 6px  inset);
      background-color: #fcfcfc;
    } // seadragon-viewer
  } // seadragon-wrapper

  // audio player
  #item-media .player-wrapper {
    width: 100%;
    @include box-shadow(#eee 1px 1px 6px  inset);
    background-color: #fcfcfc;
    margin-bottom: rhythm(0.5);
    audio {
      width: 100%;
    }
  }

  // metadata display tweaks

  #item-metadata #dublin-core-title { display: none; }

  #title-row .element-set {
    display: inline;
    #collection {
      display: inline;
      h3 {
        display: inline;
      }
    }

  }


  #item-media #oral-history-item-type-metadata-transcription {
    a.download-transcription {
      float:right;
      font-size: 0.9em;
      font-family: 'Lato', sans-serif;
      font-weight: lighter;
      @include icon-before-sm('\1F4E5');
    }
    .element-text {
      display:block;
    }
  }
  #item-metadata #oral-history-item-type-metadata-transcription {
    display:none;
  }

  #item-citation.element {
    .element-text {
      font-size: 0.8em;
      line-height: 0.8em;
    }
  }

  #collection.element .element-text {
    ul { display: inline; }
    li {
      display: inline;
      @include icon-before-sm('\25B8')
    }
    & > ul > li:before { content: none;}
  }

  #item-files.element-set {
    .element {border-bottom: none;}
    h3 {
      @include user-select(none);
      @include icon-after('\E75C');
      cursor: pointer;
    }
    ul {
      display: none;
      list-style: circle;
      list-style-type: circle;
      padding: 0 15px;
      li {
        padding: 0px;
      }
    }
  } // #item-files.element-set


}