.items.show {


  // default two-column layout
  #item-metadata {
    @include columns(7);
    @include offset(0.25);
    margin-bottom: rhythm(1);
  }
  #item-media {
    @include columns(9);
    margin-bottom: rhythm(1);
  }

  // oral history item-specific layout
  &.oral-history  {
    #item-metadata {
      @include columns(10);
      @include offset(0.25);
      margin-bottom: rhythm(1);
    }
    #item-media {
      @include columns(6);
      margin-bottom: rhythm(1);
    }
  }


  // image gallery (assumes default layout)
  #item-media #seadragon-wrapper{
    height: skeleton-column-width(9, $base-width);
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      height: skeleton-column-width(9, $tablet-width);
    }
    margin-bottom: rhythm(0.5);
    #seadragon-viewer {
      width: 100%;
      height: 100%;
      @include box-shadow(#eee 1px 1px 6px  inset);
      background-color: #fcfcfc;
    } // seadragon-viewer
  } // seadragon-wrapper

  // audio player (assumes oral history layout?)
  #item-media .player-wrapper {
    width: 100%;
    @include box-shadow(#eee 1px 1px 6px  inset);
    background-color: #fcfcfc;
    margin-bottom: rhythm(0.5);
    audio {
      width: 100%;
    }
  }



  // metadata display tweaks
  #item-citation.element {
    border-bottom: none;
    .element-text {
      font-size: 0.8em;
      line-height: 0.8em;
    }
  }

  #collection-tree.element .element-text {
    ul { display: inline; }
    li {
      display: inline;
      @include icon-before-sm('\25B8')
    }
    & > ul > li:before { content: none;}
  }

  #item-files.element-set {
    h3 {
      @include user-select(none);
      @include icon-after('\E75C');
      cursor: pointer;
    }
    ul {
      display: none;
      list-style: circle;
      list-style-type: circle;
      padding: 0 15px;
      li {
        padding: 0px;
      }
    }
  } // #item-files.element-set




}