@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Lato:700,300,400);

@import "base";

@import "compass/reset";
@import "compass/css3/box-sizing";
@import "compass/typography/vertical_rhythm";
@import "compass/css3/appearance";
@import "compass/css3/box-shadow";

@import "berlin/normalize";
@import "berlin/skeleton";
@import "berlin/screen";

@media screen and (max-width:768px) {
    @import "berlin/768max";
}

body,h1, h2, h3 {
  font-family: 'Lora', serif;
  color: #333;
}




#primary-nav {
  .nav-item {
    // &:first-child > a {
    //   border-left: none;
    // }
    // & > a:focus,
    // & > a.open {
    //   border: none;
    // }
  }

  .sub-nav {
    border:none;
  }
}



#content {
  border: none;
  border-top: 1px solid $border_gray;
  padding: 1.5em 0px;
}




.items.show {
  #content {
    padding: rhythm(1) 0px;

    #item-title-wrapper {
      @include row;
      .item-title {
        @include columns(16);
      }
    }


    #primary {
      @include row;

      #item-metadata {
        @include columns(8);
        // .element-set {
        //   .element{
        //     @include row;
        //     h3 {
        //       @include columns(1);
        //       @include alpha;
        //     }
        //     .element-text {
        //       @include columns(7);
        //       @include omega;
        //     }
        //     &#dublin-core-title {
        //       display:none;
        //     }
        //   } // element
        // } // element-set
      }

      #seadragon-viewer {
        background-color: #ffffff;
        border: 1px solid $border_gray;
        @include columns(8);
        height: skeleton-column-width(10, $base-width);
        @media only screen and (min-width: 768px) and (max-width: 959px) {
          height: skeleton-column-width(10, $tablet-width); 
        }
        // border-right: 1px solid $border_gray;
      } // seadragon-viewer

    } // primary
  } // content
} // .items.show



.element-set {
  .element{
    @include trailer();
    // margin-bottom: 5px;
    h3 {
      @include trailer(0);
      font-size: 0.8em;
      font-family: 'Lato', sans-serif;
      font-weight: thin;
      color: #ccc; 
      text-transform: uppercase;
    }
    .element-text {
      font-size: 1em;
    }
  } // element
}

